@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:#FFF;
}

.hero {
  width: 100%;
  background: url('/hero-bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}
.container {
  max-width: 1920px;
  position: relative;
  margin: auto;
}
.banner-animation {
  position: relative;
  z-index: 3;
}
.banner-animation-wrapper {
  position: absolute;
  overflow: hidden;
  width: calc(100% - 10rem);
  height: calc(100% - 10rem);
  margin: 5rem;
  box-shadow: 0px 4px 40px -1px rgba(0, 0, 0, 0.40);
}
@media screen and (max-width: 1024px) {
  .banner-animation-wrapper {
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    margin: 2rem;
  }
}
.banner-animation-wrapper-blur {
    /* The image used 
    background: url('/hero-bg.jpg');
    /* Add the blur effect 
    filter: blur(20px);
    -webkit-filter: blur(20px);*/
    background: rgba(255, 255, 255, 0.20);

backdrop-filter: blur(45px);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.banner-animation-wrapper:before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.2);
  z-index: 1;
}
